<style>
    .product-section-title {
        color: red;
    }
</style>

<div>
    <h1 class="product-section-title">Hello world</h1>
</div>

{% schema %} { "name": "Section name", "settings": [] } {% endschema %} {% stylesheet %} {% endstylesheet %} {% javascript %} {% endjavascript %}