<style>
    .product-section-wrapper {
        width: 100%;
        height: min(500px, 100vw);
    }
    
    .card-section-content {
        width: 90%;
        height: min(500px, 100vw);
        display: flex;
        justify-content: center;
    }
    
    .center-text {
        text-align: center;
    }
    
    .base-font-family {
        font-family: 'Tai Heritage Pro', serif;
        color: black;
    }
    
    .product-section-label {
        font-size: 1.6vw;
        font-weight: 700;
    }
    
    .product-section-title {
        font-size: 1vw;
        font-weight: 400;
    }
    
    .product-section-card_text_title {
        font-size: 1.4vw;
        font-weight: 700;
    }
    
    .product-section-card_text_price {
        font-size: 1.4vw;
        font-weight: 400;
        color: orange;
    }
    
    .card-wrapper {
        width: max(25%, 200px);
        /* width: 200px; */
        height: max(250px, 350px);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin: 10px auto;
        border-radius: 15px;
        padding: 10px;
    }
</style>

<!-- {% section 'featured-collection' %} -->

<section class="product-section-wrapper">
    <p class="product-section-label base-font-family center-text">Featured Collection</p>
    <p class="product-section-title base-font-family center-text">Get the best deal from our product</p>
    <div class="card-section-content">
        <div class="card-wrapper">
            <!-- <img class="product-section-image" alt="product" /> -->
            <div class="card__pic">
                <img src="https://images.unsplash.com/photo-1611265023526-707d240623af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
            </div>
            <p class="product-section-label base-font-family">Product Name</p>
            <p class="product-section-title base-font-family orange-color">Price</p>
        </div>
        <div class="card-wrapper">
            <!-- <img class="product-section-image" alt="product" /> -->
            <div class="card__pic">
                <img src="https://images.unsplash.com/photo-1611265023526-707d240623af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
            </div>
            <p class="product-section-card_text_title base-font-family">Product Name</p>
            <p class="product-section-card_text_price base-font-family">Price</p>
        </div>
    </div>
</section>


{% schema %} { "name": "Section name", "settings": [] } {% endschema %} {% stylesheet %} {% endstylesheet %} {% javascript %} {% endjavascript %}